#content {
  font-family: "Gill Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#resume{
   font-family: "Gill Sans", sans-serif;
   background-color: rgba(67, 75, 78, 0.89);
   color: #f2f2f2;
   padding: 10px 12px;
}

#projects{
   font-family: "Gill Sans", sans-serif;
   background-color: rgba(134, 147, 151, 0.89);
   color: #f2f2f2;
   padding: 10px 12px;
}

.topnav {
  position: sticky;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  position: sticky;
  font-family: "Gill Sans", sans-serif;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  position: sticky;
  background-color: #ddd;
  color: black;
}

/* .topnav a.active {
  background-color: rgb(150, 151, 150)
  color: white;
} */

#left{
     position: relative;
}
#right{
     float:right;
}

#title{
    text-align:center;
}

#major{
    position: relative;
    left: 20px;
}

#clist{
    position: relative;
    left: 130px;
}

#text{
    position: relative;
    left: 110px;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;
  width: 28%;
  padding: 30px;
  margin: auto;
  text-align: center;
  color: black
}

.ctitle {
  color: grey;
  font-size: 18px;
}